
.App-header {
    width: auto;
    height: 80px;
    display: flex;
    margin: auto;
    border-radius: 0 0 12px 12px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    align-items: center;
    justify-content: flex-start;
    font-size: 48px;
    color: #292d3e;
    font-weight: 800;
    z-index: 99;
    margin:0px 20px 20px 20px;
    letter-spacing: 2px;
    position: absolute;
    font-family: "Press Start";
    line-height: 2rem;
    
  }

.logo{
    width: 80px;
    height: auto;
}

.title{
  font-size: 40px;
  line-height: 3rem;
  word-spacing: 4px;
}

@media only screen and (max-width: 1000px) {
  .App-header {
    margin-top: -10px;
    width: 200px;
    height: 40px;
  }
  .title{
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-size: 23px;
  }
  .logo{
    width: 45px;
  }
}